<div class="row">
     <div class="large-3 columns medium-2 columns small-0 columns">
      <p>&nbsp;</p>
    </div>
  <%= form_for @user, html: { multipart: true } do |f| %>
    <% if @user.errors.any? %>
        <h2>
          <%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:
        </h2>
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
    <% end %>
  <div class="large-6 columns medium-8 columns small-12 columns">
    <div class="required">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
  </div>
<div class="large-3 columns medium-2 columns small-0 columns">
      <p>&nbsp;</p>
      </div>
  </div>
<div class="row">
  <div class="large-3 columns medium-2 columns small-0 columns">
      <p>&nbsp;</p>
      </div>

    <div class="large-6 columns medium-8 columns small-12 columns">
      <div class="required">
        <%= f.label :first_name, "First Name" %>
        <%= f.text_field :first_name %>

        <%= f.label :last_name, "Last Name"  %>
        <%= f.text_field :last_name %>
      </div>
      <div class="required">
        <%= f.label :password %>
        <%= f.password_field :password %>

        <%= f.label :password_confirmation, "Confirm Password" %>
        <%= f.password_field :password_confirmation %>

        <%= f.label "City" %>
        <%= f.text_field :city %>

        <%= f.label :postal_code, "Postal Code (used to find nearby musicians)"  %>
        <%= f.text_field :postal_code %>

        <%= f.label "Genres (separated by commas)" %>
        <%= f.text_field :genre_list %>

        <%= f.label "Instruments (separated by commas)" %>
        <%= f.text_field :instrument_list %>
      </div>

        <%= f.label "Biography" %>
        <%= f.text_area :bio %>

        <%= f.label "What are you looking for?" %>
        <%= f.text_area :looking_for %>

        <%= f.label "Link to Recordings, Band Site etc."  %>
        <%= f.text_field :personal_url %>

          <%= f.label "Choose a Photo" %>
          <%= f.file_field :avatar %>

        <%= f.submit "Save", :class => "radius button" %>
  <% end %>
    </div>
  <div>
<div class="large-3 columns medium-2 columns small-0 columns">
      <p>&nbsp;</p>
      </div>
  </div>

