<%= form_for([@user, @invitation], remote: true ) do |f| %>
  <div id="message-form-errors" >
    <%= render 'shared/error_messages', object: f.object %>
  </div>

  <%= f.hidden_field :recipient_id %>

  <h4>Contact <%= @user.first_name.capitalize %></h4>

  <%= f.text_area :content %>

  <%= f.submit "Send Message", :class => "button radius small" %>
<% end %>