<%= form_for([@user, @invitation], remote: true ) do |f| %>
  <div id="message-form-errors" > 
    <%= render :partial => "/users/message_form_errors" %>
  </div>

  <%= f.hidden_field :recipient_id %>
  <div class="field">
    <h4>Contact <%= @user.first_name.capitalize %></h4>
    <%= f.text_area :content %>
  </div>
    
  <div class="actions">
    <%= f.submit "Send Message", :class => "button radius tiny" %>
  </div>
<% end %>