
<% @user.target_references.each do |reference| %>
  <li>
    <% unless reference.new_record? %>
      <div class="<%= reference.feedback_textifier %>">Feedback: <%= reference.feedback_textifier %>
      </div>
      Comment: <%= reference.comment %><br>
      Jammed Together? <%= reference.check("jammed") %><br>
      Performed?  <%= reference.check("performed")  %><br>
      Recorded?  <%= reference.check("recorded") %><br>
        <% if reference.source != nil %>
          <em>Left By: <%=link_to reference.source.full_name, "/users/#{reference.source.id}" %></em><br>
          Date: <%= reference.created_at.to_formatted_s(:long) %>
        <% end %>
    </li>
  <% end %>
<% end %>
