<% if current_user %>
  
  <h3>References</h3>

  <p>References for <%= @user.first_name %></p>
<% @user.target_references.each do |reference| %>
    <% unless reference.new_record? %>
      Feedback_value: <%= reference.feedback_textifier %><br> 
      Comment: <%= reference.comment %><br>
      Jammed together: <%= reference.jammed %><br>
      Performed: <%= reference.performed %><br>
      Recorded: <%= reference.recorded %>
      
        <% if reference.source != nil %>
        <em>by <%= reference.source.full_name %></em>
         Reference Created on: <%= reference.created_at %><hr>
        <% end %>
    <% end %>
  <% end %>
 
 <h4>Add a Reference for <%= @user.first_name %></h4>

  <%= form_for([@user, @reference]) do |f| %>
    <% if @reference.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@reference.errors.count, "error") %> prohibited this review from being saved:</h2>
        <ul>
          <% @reference.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field"><br/>
      <%= f.text_area :comment %>
    </div>
    <div class="field">
      <%= f.radio_button :feedback_value, 1 %>
      <%= f.label :feedback_value, "Positive" %>
      <%= f.radio_button :feedback_value, 0 %>
      <%= f.label :feedback_value, "Neutral" %>
      <%= f.radio_button :feedback_value, -1 %>
      <%= f.label :feedback_value, "Negative" %>
    </div>
    <div class="field">
      <%= f.check_box :jammed %>
      <%= f.label :jammed, "We've jammed together" %><br>
    </div>
    <div class="field">
      <%= f.check_box :performed %>
      <%= f.label :performed, "We've performed together" %><br>
    </div>  
    <div class="field">
      <%= f.check_box :recorded %>
      <%= f.label :recorded, "We've recorded together" %><br>
    </div>              
    <div class="actions">
      <%= f.submit %>
    </div>
    </div>
  <% end %>
<% else %>
  <p>Please <%= link_to 'log in', new_session_path %> to leave a reference.</p>
<% end %>

