<% if @user.target_references.count >= 1 %>
<h4>References left for <%= @user.first_name.capitalize %></h4>
<% end %>
<% @user.target_references.each do |reference| %>
    <% unless reference.new_record? %>
      Feedback Value: <%= reference.feedback_textifier %><br> 
      Comment: <%= reference.comment %><br>
      Jammed Together?  <%= reference.check("jammed") %><br>
      Performed?  <%= reference.check("performed")  %><br>
      Recorded?  <%= reference.check("recorded") %><br>
        <% if reference.source != nil %>
        <em>Left By: <%= reference.source.full_name %></em><br>
         Reference Created on: <%= reference.created_at %><hr>
        <% end %>
    <% end %>
  <% end %>