_reply.html.erb

<%= form_for([@user, @reply]) do |f| %>
  <% if @user.errors.any? %>
 
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :recipient_id, :value => "#{@invitation.user_id}" %>
  <div class="field">
    <%= f.label "Contact this user here!" %><br>
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit "Send" %>
  </div>

<% end %>