 <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
      <% @users.each do |user| %>
        <li>
          <div id="musician-home-block">
            <div id="musician-name-img">
              <div class="user-name">
                <%= link_to "#{user.full_name}", user_path(user.id) %>
                <span title="Score based on other users feedback">
                  (<%= user.target_references.sum(:feedback_value) %>)
                </span>
              </div>
              <div id="musician-img">
                <%=link_to image_tag(user.avatar.url(:thumb)), user_path(user.id) %>
              </div>
              <hr />
            </div>
            <span class="user-attr">Genres:</span>
              <%= raw user.genre_list.map { |t| link_to t, tag_path(t) }.join(', ') %><br>
            <span class="user-attr">Instruments:</span>
              <%= raw user.instrument_list.map { |t| link_to t, tag_path(t) }.join(', ') %><br>
            <span class="user-attr">City:</span> <%= user.city %>
              <% if current_user %>-
                <%= user.distance_to(current_user, :km).round(1) %> KM from you
              <% end %><br>
            <span class="user-attr">Biography:</span>
              <%= truncate(user.bio, length: 120) %><br>
            <span class="user-attr">Looking for:</span>
              <%= truncate(user.looking_for, length: 80) %>
          </li>
        <% end %>
    </ul>
  </div>
    <%#= paginate @users %>