<h1>Listing users</h1>

<% @users.each do |user| %>

  <ul>
    <li>Name: <%= user.full_name %></li>
    <li>Email: <%= user.email %></li>
    <li>city: <%= user.city %></li>
    <li>postal_code: <%= user.postal_code %></li>
    <li>bio: <%= truncate(user.bio, length: 100) %></li>
  </ul>

<% end %>

<%= link_to 'New User', new_user_path %>
