<h1>Listing users</h1>

<% @users.each do |user| %>

  <ul>
    <li>Name: <%= user.full_name %></li>
    <li>Email: <%= user.email %></li>
    <li>city: <%= user.city %></li>
    <li>postal_code: <%= user.postal_code %></li>
    <li>bio: <%= truncate(user.bio, length: 100) %></li>
    <li>Genres: <%= user.genre_list %></li>
    <li>Instruments: <%= user.instrument_list %></li>
  </ul>

<p>Genres: <%= raw user.genre_list.map { |t| link_to t, tag_path(t) }.join(', ') %></p>
<p>Instruments: <%= raw user.instrument_list.map { |t| link_to t, tag_path(t) }.join(', ') %></p>

<% end %>

<%= link_to 'New User', new_user_path %>
