<br>
<div class="row">
  <div class="large-2 medium-1 small-0 columns">&nbsp</div>
  <div class="large-8 medium-10 small-12 columns" id="tag-line">
    <h3>Canada's #1 Source for Non-Flakey Musicians!</h3><br/>
    <p> 
      Find musicians who play the instruments and genres you're interested in<br/>
      Share your good and not-so-good experiences with other musicians<br/>
      Start contacting people near you today!<br/>
    </p>
    <% unless current_user %>
       <%= link_to("Join Today", new_user_path, :class => "button radius tiny") %>
    <% end %>
  </div>
  <div class="large-2 medium-1 small-0 columns">&nbsp</div> 
</div>

<div class="row">
  <h3> Listing Musicians:</h3>
      <ul class="large-block-grid-3 medium-block-grid-2 small-block-grid-1"> 
        <% @users.each do |user| %>
          <li>
            <div id="musician-home-block">  
              <div id="musician-name-img">  
                <h4><%= link_to "#{user.full_name}(#{user.target_references.sum(:feedback_value)})", user_path(user.id) %></h4>

                <%=link_to image_tag(user.avatar.url(:thumb)), user_path(user.id) %><hr />
              </div>      
                 Genres: <%= raw user.genre_list.map { |t| link_to t, tag_path(t) }.join(', ') %><br>
                 Instruments: <%= raw user.instrument_list.map { |t| link_to t, tag_path(t) }.join(', ') %><br>

    
              <% if current_user %>
                 Distance from you: <%= user.distance_to(current_user, :km).round(1) %> KM<br>
              <% end %>
                 City: <%= user.city %><br>
                 Biography: <%= truncate(user.bio, length: 100) %><br>
                 Looking for: <%= truncate(user.looking_for, length: 100) %>
              </p>
            </li>
          <% end %>
      </ul>
    </div> 
      <%#= paginate @users %>  
</div>
