<div class="row">
  <div class="small-10 medium-8 large-6 columns">
	<h1>Register</h1>
    <h4>We will never sell your information. Ever!</h4>
  </div>
</div>
<hr/>
<%#= render 'form' %>


<%= form_for @user do |f| %>
    <% if @user.errors.any? %>
        <h2>
          <%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:
        </h2>
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
    <% end %>
  </div>
</div>

    <div class="row">
      <div class="small-10 small-centered medium-8 large-uncentered large-6 columns">

          <%= f.label :first_name, "First Name" %>
          <%= f.text_field :first_name %>

          <%= f.label :last_name, "Last Name" %>
          <%= f.text_field :last_name %>

          <%= f.label :email %>
          <%= f.text_field :email %>

          <%= f.label :password %>
          <%= f.password_field :password %>

          <%= f.label :password_confirmation, "Confirm Password" %>
          <%= f.password_field :password_confirmation %>

          <%= f.label :postal_code, "Postal Code (used to find nearby musicians)"  %>
          <%= f.text_field :postal_code %>


<div class="row">
  <div class="small-10 small-centered medium-8 large-uncentered large-6 columns">
    <%= f.submit "Save", :class => "radius button small" %>
  <% end %>
  </div>
</div>

