<% if current_user.id == @user.id %>
  <%= link_to "Edit Profile", edit_user_path(current_user.id) %> | 
  <%= link_to "My References", user_references_path(current_user.id) %>
<% end %>

<ul>
  <li>First Name: <%= @user.first_name %></li>
  <li>Last Name: <%= @user.last_name %></li>
  <li>Genres: <%= @user.genre_list %></li>
  <li>Instruments: <%= @user.instrument_list %></li>
  <li>Email: <%= @user.email %></li>
  <li>City: <%= @user.city %></li>
  <li>Postal Code: <%= @user.postal_code %></li>
  <li>Biography: <%= @user.bio %></li>
</ul>
  <h4>Feedback Rating</h4>
  
<div id="feedback-rating">
  <%= render "feedback_rating" %>
 </div>

<div class="new-reference">
  <%= render "new_reference" %>
</div> 

<div id="references">
  <%= render "references" %>
</div>

<% if current_user.id == @user.id %>

<div class="invitations">
  <% @user.invitations_received.each do |invite| %>
    <p>From: <%= link_to "#{invite.user.full_name}", "/users/#{invite.user_id}" %></p>
    <p>Subject: <%= invite.subject %></p>
    <p>Content: <%= invite.content %></p>
    <p>Read?: <%= invite.read %></p>
    <p>ID: <%= invite.id %></p>
    <p><%= link_to "Mark as read", mark_as_read_path  %></p>
    <p>Sent at: <%= invite.created_at %></p>             
    <hr />
  <% end %>
</div>

<% end %>

<%= form_for([@user, @invitation]) do |f| %>
  <% if @user.errors.any? %>
 
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :recipient_id %>

  <div class="field">
    <%= f.label :subject %><br>
    <%= f.text_field :subject %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>

	
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
