<div class="row">
  <div class="large-9 columns medium-9 columns">
    <h3><%= @user.full_name %></h3>   
    <p>
      <%= image_tag @user.avatar.url(:medium) %><br>
      City: <%= @user.city %><br>
      Instruments: <%= @user.instrument_list %><br>
      Prefered Genres: <%= @user.genre_list %><br><br>
      Biography: <%= @user.bio %><br><br>
      Looking For: <%= @user.looking_for %><br><br>
      <a href=<%="#{@user.personal_url}"%>>My Website</a><br>
    </p>
    <hr />
  </div>
  <div class="large-3 columns medium-9 columns">
    <div id="feedback-rating">
      <a href="#ref"><h3>Feedback Rating</h3></a>
      <%= render "feedback_rating" %>
    </div>
  </div>
</div>

<div class="row">
  <ul class="large-block-grid-2 medium-block-grid-1 small-block-grid-1">  
    <li id="new-message">
      <%= render "new_message" %>
    </li>
    <li id="new-reference">  
      <%= render "new_reference" %>
    </li> 
  </ul>
</div>

<div class="row" id="ref">
  <% if @user.target_references.count >= 1 %>
    <h4>References left for <%= @user.first_name.capitalize %></h4>
  <% else %>
    <h4>Be the first to leave a reference for <%= @user.first_name.capitalize %>!</h4>
  <% end %>
<hr/>
  <ul class="large-block-grid-3 medium-block-grid-2 small-block-grid-1" id="references">
    <%= render "references" %>
  </ul>
</div>