<div class="row">
  <div class="large-9 columns">
    <h3><%= @user.full_name %></h3>   
    <p>
      <%= image_tag @user.avatar.url(:medium) %><br>
      City: <%= @user.city %><br>
      Instruments: <%= @user.instrument_list %><br>
      Prefered Genres: <%= @user.genre_list %><br><br>
      Biography: <%= @user.bio %><br><br>
      Looking For: <%= @user.looking_for %><br><br>
      <a href=<%="#{@user.personal_url}"%>>My Website</a><br>
    </p>
    <hr />
  </div>
  <div class="large-3 columns">
    <div id="feedback-rating">
      <h3>Feedback Rating</h3>
      <%= render "feedback_rating" %>
    </div>
  </div>
</div>

<div class="row">
  <ul class="small-block-grid-2">  
    <li id="new-reference">  
      <%= render "new_reference" %>
    </li> 
    <li id="new-message">
      <%= render "new_message" %>
    </li>
  </ul>
</div>

<div class="row">
  <ul class="small-block-grid-3" id="references">
        <%= render "references" %>
  </ul>
</div>