<ul>
	<li>Feedback_rating: <%= @user.target_references.sum(:feedback_value) %></li>
	<li>Feedback_score: <%= number_to_percentage((100*
	@user.target_references.where(feedback_value: 1).count / 
   [(@user.target_references.where(feedback_value: 1).count +
   @user.target_references.where(feedback_value: -1).count),1].max.to_f), precision: 1) %></li>
  <li>first_name: <%= @user.first_name %></li>
  <li>last_name: <%= @user.last_name %></li>
  <li>Genres: <%= @user.genre_list %></li>
  <li>Instruments: <%= @user.instrument_list %></li>
  <li>Email: <%= @user.email %></li>
  <li>city: <%= @user.city %></li>
  <li>postal_code: <%= @user.postal_code %></li>
  <li>bio: <%= @user.bio %></li>
</ul>
  
  <h3>References</h3>

  <p>References for <%= @user.first_name %></p>
<div id="references">
  <%= render "references" %>
 </div>


<div class="new-reference">
	<%= render "new_reference" %>
</div> 
	
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
