<div class="row">
  <div class="small-12 medium-9 columns">
    <h2><%= @user.full_name %></h2>
    <p>
      <%= image_tag @user.avatar.url(:medium) %><br>
      <span class="user-attr">City: </span><%= @user.city %><br>
      <span class="user-attr">Instruments: </span><%= @user.instrument_list %><br>
      <span class="user-attr">Prefered Genres: </span><%= @user.genre_list %><br><br>
      <span class="user-attr">Biography: </span><%= @user.bio %><br><br>
      <span class="user-attr">Looking For: </span><%= @user.looking_for %><br><br>
      <a href=<%="#{@user.personal_url}"%>>My Website</a><br>
    </p>
    <hr />
  </div>
  <div class="small-6 medium-3 columns">
    <a href="#ref"><h4>Feedback Rating</h4></a>
    <div id="feedback-rating">
      <%= render "feedback_rating" %>
    </div>
  </div>
</div>

<div class="row">
  <ul class="small-block-grid-1 medium-block-grid-1 large-block-grid-2">
    <li id="new-message">
      <%= render "new_message" %>
    </li>
    <li id="new-reference">
      <%= render "new_reference" %>
    </li>
  </ul>
</div>

<div class="row" id="ref">
  <% if @user.target_references.count >= 1 %>
    <h4>References left for <%= @user.first_name.capitalize %></h4>
  <% else %>
    <h4>Be the first to leave a reference for <%= @user.first_name.capitalize %>!</h4>
  <% end %>
<hr/>
    <ul class="small-block-grid-1 medium-block-grid-1 large-block-grid-3" id="references">
    <%= render "references" %>
  </ul>
</div>