<% if current_user.id == @user.id %>
  <%= link_to "Edit Profile", edit_user_path(current_user.id) %> | 
  <%= link_to "My References", user_references_path(current_user.id) %>

<div class="invitations_unread">
  <h4>Unread</h4>
  <% @user.invitations_received.where(read: false).each do |invite| %>
    <p>From: <%= link_to "#{invite.user.full_name}", "/users/#{invite.user_id}" %> | Sent at: <%= invite.created_at %> 
    | Message ID: <%= invite.id %>
    | <%= link_to "Reply", "#{current_user.id}/invitations/#{invite.id}"  %>
    | <%= link_to "Mark as read", "#{current_user.id}/invitations/#{invite.id}/read"  %>
    </p>
    <p><%= simple_format invite.content %></p>             
    <hr />
  <% end %>
</div>

<% end %>

<ul>
  <li>First Name: <%= @user.first_name %></li>
  <li>Last Name: <%= @user.last_name %></li>
  <li>Genres: <%= @user.genre_list %></li>
  <li>Instruments: <%= @user.instrument_list %></li>
  <li>Email: <%= @user.email %></li>
  <li>City: <%= @user.city %></li>
  <li>Postal Code: <%= @user.postal_code %></li>
  <li>Biography: <%= @user.bio %></li>
</ul>
  <h4>Feedback Rating</h4>
  
<div id="feedback-rating">
  <%= render "feedback_rating" %>
 </div>

<div class="new-reference">
  <%= render "new_reference" %>
</div> 

<div id="references">
  <%= render "references" %>
</div>

<% if current_user.id == @user.id %>

<div class="invitations_read">
   <h4>Read</h4>
  <% @user.invitations_received.where(read: true).each do |invite| %>
    <p>From: <%= link_to "#{invite.user.full_name}", "/users/#{invite.user_id}" %></p>
    
    | Read?: <%= invite.read %>
    | ID: <%= invite.id %>
    | <%= link_to "Mark as unread", "#{current_user.id}/invitations/#{invite.id}/read"  %></p>
    <p>Content: <%= invite.content %> 
    Sent at: <%= invite.created_at %></p>             
    <hr />
  <% end %>
</div>

<% end %>

<div id="new_message">
  <%= render "new_message" %>
</div>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>