<div class="row">
  <div class="large-6 columns">
    <h4><%= @user.full_name %></h4>   
    <p>
      <%= image_tag @user.avatar.url(:medium) %><br>
      City: <%= @user.city %><br>
      Genres: <%= @user.genre_list %><br>
      Instruments: <%= @user.instrument_list %><br>
      Email: <%= @user.email %><br>
      Biography: <%= @user.bio %><br>
      Looking For: <%= @user.looking_for %><br>
      <a href=<%="#{@user.personal_url}"%>>My Website</a><br>
    </p>
    <hr />
  </div>
</div>

<div class="row">
  <div class="large-3 columns">
    <div id="feedback-rating">
      <h4>Feedback Rating</h4>
      <%= render "feedback_rating" %>
      <hr />
    </div>
  </div>
</div>

<div class="row">  
  <div class="large-6 columns">
    <div id="new-reference">  
      <%= render "new_reference" %>
    </div>
  </div> 
</div>

<div class="row">
    <%= render "new_message" %>
</div>

<div class="row">
    <div id="references">
      <%= render "references" %>
    </div>
</div>