<div class="row">
  <div class="large-6 columns">
    <h4><%= @user.full_name %></h4>   
    <p>
      City: <%= @user.city %><br>
      Genres: <%= @user.genre_list %><br>
      Instruments: <%= @user.instrument_list %><br>
      Email: <%= @user.email %><br>
      Biography: <%= @user.bio %><br>
    </p>
    <hr />
  </div>
</div>

<div class="row">
  <div class="large-3 columns">
      <h4>Feedback Rating</h4>
      <%= render "feedback_rating" %>
      <hr />
  </div>
</div>

<div class="row">    
    <div class="large-6 columns">
      <%= render "new_reference" %>
    </div> 
</div>
<div class="row">
      <%= render "new_message" %>
</div>

      <%= render "references" %>
