<div class="row">
  <div class="small-10 small-centered columns">
    <h2>Inbox - Unread</h2>
    <table>
      <thead>
        <tr>
          <th width="100">From</th>
          <th width="500">Message</th>
     	    <th width="150">Sent</th>
          <th width="110">Mark as Read</th>
          <th width="60">Reply</th>
        </tr>
      </thead>
      	<% if current_user.id == @user.id %>
      	<% @user.invitations_received.where(recipient_read: false).each do |invite| %>
      <tbody>
        <tr>
          <td><%= link_to "#{invite.user.full_name}", "/users/#{invite.user_id}" %></td>
          <td><%= simple_format invite.content %></td>
          <td><%= invite.created_at.to_formatted_s(:long) %></td>
          <td><%= link_to "Mark as Read", "invitations/#{invite.id}/read"  %></td>
          <td><%= link_to "Reply", "invitations/#{invite.id}"  %></td>
        </tr>
      </tbody>
      <% end %>
      <% end %>
    </table>

    <h2>Inbox - Read</h2>
    <table>
      <thead>
        <tr>
          <th width="100">From</th>
          <th width="500">Message</th>
     	  <th width="150">Sent</th>
          <th width="110">Mark as Read</th>
          <th width="60">Reply</th>
        </tr>
      </thead>
      	<% if current_user.id == @user.id %>
      	<% @user.invitations_received.where(recipient_read: true).each do |invite| %>
      <tbody>
        <tr>
          <td><%= link_to "#{invite.user.full_name}", "/users/#{invite.user_id}" %></td>
          <td><%= simple_format invite.content %></td>
          <td><%= invite.created_at.to_formatted_s(:long) %></td>
          <td><%= link_to "Mark as Unread", "invitations/#{invite.id}/read" %></td>
          <td><%= link_to "Reply", "invitations/#{invite.id}" %></td>
        </tr>
      </tbody>
      <% end %>
      <% end %>
    </table>

            <h2>Sent - Unread</h2>
    <table>
      <thead>
        <tr>
          <th width="100">From</th>
          <th width="500">Message</th>
        <th width="150">Sent</th>
          <th width="110">Mark as Read</th>
          <th width="60">Reply</th>
        </tr>
      </thead>
        <% if current_user.id == @user.id %>
        <% @user.invitations_sent.where(sender_read: false).each do |invite| %>
      <tbody>
        <tr>
          <td><%= link_to "#{invite.user.full_name}", "/users/#{invite.user_id}" %></td>
          <td><%= simple_format invite.content %></td>
          <td><%= invite.created_at.to_formatted_s(:long) %></td>
          <td><%= link_to "Mark as Read", "invitations/#{invite.id}/read" %></td>
          <td><%= link_to "Reply", "invitations/#{invite.id}" %></td>
        </tr>
      </tbody>
      <% end %>
      <% end %>
    </table>

        <h2>Sent - Read</h2>
    <table>
      <thead>
        <tr>
          <th width="100">From</th>
          <th width="500">Message</th>
        <th width="150">Sent</th>
          <th width="110">Mark as Read</th>
          <th width="60">Reply</th>
        </tr>
      </thead>
        <% if current_user.id == @user.id %>
        <% @user.invitations_sent.where(sender_read: true).each do |invite| %>
      <tbody>
        <tr>
          <td><%= link_to "#{invite.user.full_name}", "/users/#{invite.user_id}" %></td>
          <td><%= simple_format invite.content %></td>
          <td><%= invite.created_at.to_formatted_s(:long) %></td>
          <td><%= link_to "Mark as Unread", "invitations/#{invite.id}/read" %></td>
          <td><%= link_to "Reply", "invitations/#{invite.id}" %></td>
        </tr>
      </tbody>
      <% end %>
      <% end %>
    </table>

  </div>
 </div>
