<div class="row">    
  <ul class="large-block-grid-3 medium-block-grid-2 small-block-grid-1">
    <% @my_refs.each do |ref| %>
      <li>
        <% if ref.target %>
          <h4>Reference Left For: <%= link_to ref.target.full_name, "/users/#{ref.target.id}" %></h4> 
        <% end %>
        <p>
      <div class="<%= ref.feedback_textifier %>">Feedback: <%= ref.feedback_textifier %>
      </div>
          Content: <%= ref.comment %><br>
          Jammed: <%= ref.check("jammed") %>
          Performed: <%= ref.check("performed") %>
          Recorded: <%= ref.check("recorded") %><br>
          Last Updated: <%= ref.updated_at %><br>
          <%= link_to "Update This Reference","references/#{ref.id}/edit", class: "button radius tiny" %><br>

        </p>
      </li>
    <% end %>
  </ul>
</div>
  