<div class="row" id="login">
  <div class="small-10 small-centered medium-8 large-6 columns">
    <%= form_tag user_sessions_path, :method => :post do %>
  <h1>Login</h1>
      <%= label_tag :email %>
      <%= text_field_tag :email %>

      <%= label_tag :password %>
      <%= password_field_tag :password %>

      <%= submit_tag "Login", :class => "radius button" %>
    <% end %>
  </div>
</div>

<%= render 'forgot_password_form' %>